In [1]:
import psycopg2

conn = psycopg2.connect(host='piRobert0301.local',database='mydatabase_a20',user='a20',password='raspberry')

In [2]:
print(conn)

<connection object at 0x000002467A1DC480; dsn: 'user=a20 password=xxx dbname=mydatabase_a20 host=piRobert0301.local', closed: 0>

In [3]:
sql = '''CREATE TABLE IF NOT EXISTS zmarket(
	name VARCHAR(20),
	country VARCHAR(20),
	PRIMARY KEY(name)
);'''

cursor = conn.cursor()
cursor.execute(sql)

sql1 = '''CREATE TABLE IF NOT EXISTS zstock(
	stock_id SERIAL,
	date DATE,
	open NUMERIC(17,10),
	high NUMERIC(17,10),
	low NUMERIC(17,10),
	close NUMERIC(17,10),
	adj_close NUMERIC(17,10),
	volume BIGINT DEFAULT 0,
	name VARCHAR(20),
	PRIMARY KEY(stock_id),
	FOREIGN KEY(name) REFERENCES zmarket(name) 
	ON DELETE NO ACTION
	ON UPDATE CASCADE
);'''

cursor.execute(sql1)
conn.commit()

cursor.close()
conn.close()

In [5]:
import psycopg2

conn = psycopg2.connect(host='piRobert0301.local',database='mydatabase_a20',user='a20',password='raspberry')

with conn:
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE IF NOT EXISTS a_market(
	    name VARCHAR(20),
	    country VARCHAR(20),
	    PRIMARY KEY(name)
        );'''
        cursor.execute(sql)
    
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE IF NOT EXISTS a_stock(
        stock_id SERIAL,
        date DATE,
        open NUMERIC(17,10),
        high NUMERIC(17,10),
        low NUMERIC(17,10),
        close NUMERIC(17,10),
        adj_close NUMERIC(17,10),
        volume BIGINT DEFAULT 0,
        name VARCHAR(20),
        PRIMARY KEY(stock_id),
        FOREIGN KEY(name) REFERENCES a_market(name) 
        ON DELETE NO ACTION
        ON UPDATE CASCADE
        );'''
        cursor.execute(sql)
    
conn.close()